$theme-name: 'smartfactory';
$base-color: #f0f0f0;
$font-size  : 16px !default;

$window-background-color: #5672a1 !default;
$window-inner-border-color: #6287c4 !default;
$window-header-color: #fff !default;

$tip-border-radius: 4px !default;

@import 'compass';
@import 'ext4/default/all';


/* margin,padding style */
.paddingT5{padding-top:5px}
.paddingR5{padding-right:5px}
.paddingB5{padding-bottom:5px}
.paddingL5{padding-left:5px}
.paddingRL5{padding-right:5px;padding-left:5px}
.paddingTB5{padding-top:5px;padding-bottom:5px}
.paddingAll5{padding:5px}

.paddingT7{padding-top:7px !important}
.paddingR7{padding-right:7px !important}
.paddingB7{padding-bottom:7px !important}
.paddingL7{padding-left:7px !important}
.paddingRL7{padding-right:7px !important;padding-left:7px !important}
.paddingTB7{padding-top:7px !important;padding-bottom:7px !important}
.paddingAll7{padding:7px !important}

.paddingT10{padding-top:10px}
.paddingR10{padding-right:10px}
.paddingB10{padding-bottom:10px}
.paddingL10{padding-left:10px}
.paddingRL10{padding-right:10px;padding-left:10px}
.paddingTB10{padding-top:10px;padding-bottom:10px}
.paddingAll10{padding:10px}

.marginT5{margin-top:5px}
.marginR5{margin-right:5px}
.marginB5{margin-bottom:5px}
.marginL5{margin-left:5px}
.marginRL5{margin-right:5px;margin-left:5px}
.marginTB5{margin-top:5px;margin-bottom:5px}
.marginAll5{margin:5px}

.marginT7{margin-top:7px}
.marginR7{margin-right:7px}
.marginB7{margin-bottom:7px}
.marginL7{margin-left:7px}
.marginRL7{margin-right:7px;margin-left:7px}
.marginTB7{margin-top:7px;margin-bottom:7px}
.marginAll7{margin:7px}

.marginT10{margin-top:10px}
.marginR10{margin-right:10px}
.marginB10{margin-bottom:10px}
.marginL10{margin-left:10px}
.marginRL10{margin-right:10px;margin-left:10px}
.marginTB10{margin-top:10px;margin-bottom:10px}
.marginAll10{margin:10px}


/* border style */
.borderT{border-top:1px solid #ddd !important}
.borderR{border-right:1px solid #ddd !important}
.borderB{border-bottom:1px solid #ddd !important}
.borderL{border-left:1px solid #ddd !important}
.borderRL{border-right:1px solid #ddd !important;border-left:1px solid #ddd !important}
.borderTB{border-top:1px solid #ddd !important;border-bottom:1px solid #ddd !important}
.borderTNone{border-top:none !important}
.borderRNone{border-right:none !important}
.borderBNone{border-bottom:none !important}
.borderLNone{border-left:none !important}
.borderAllNone, .borderAllNone *{border:none !important}

/* scroll style */
.scrollXHidden{overflow-x:hidden !important}
.autoScroll .x-box-layout-ct div.x-box-inner{overflow:auto}
.autoScroll .x-box-layout-ct div.x-box-inner .x-box-inner{overflow:hidden}

/* background style */
.backgroundClear{background-image:none;background-color:transparent !important;}
.backgroundClear.x-btn-default-toolbar-small,.backgroundClear.x-btn-default-toolbar-small-over{background:none;border:none}

/* text style */
.textAlignRight,.textAlignRight input{text-align:right}
.textAlignCenter,.textAlignCenter input{text-align:center}
.textAlignRight label,.textAlignCenter label{text-align:left}

.textColorRed,.textColorRed .x-form-field,.textColorRed .x-form-display-field,.textColorRed .x-grid-cell{color:#cc3300}
.textColorOrange,.textColorOrange.x-form-field,.textColorOrange .x-form-display-field,.textColorOrange .x-grid-cell{color:#FD7201}
.textColorGreen,.textColorGreen .x-form-field,.textColorGreen .x-form-display-field,.textColorGreen .x-grid-cell{color:#0aa00a}
.textColorBlue,.textColorBlue .x-form-field,.textColorBlue .x-form-display-field,.textColorBlue .x-grid-cell{color:#007eff}
.textColorViolet,.textColorViolet .x-form-field,.textColorViolet .x-form-display-field,.textColorViolet .x-grid-cell{color:#a42eb6}
.textColorGray,.textColorGray .x-form-field,.textColorGray .x-form-display-field,.textColorGray .x-grid-cell{color:#999}
.textColorTransparent,.textColorTransparent .x-form-field,.textColorTransparent .x-form-display-field,.textColorTransparent .x-grid-cell{color:transparent}

.fontSize40,.fontSize40 *{font-size:40px !important}


/*form style*/
input.x-form-text{height:35px !important}
.contentCommon .x-vbox-form-item,.x-window-body .x-vbox-form-item{margin-bottom:10px !important}
.contentCommon .x-btn-default-small,.x-window .x-btn-default-small{background:url('../../../../image/opc/bgBtnForm.png') repeat-x !important;border-color:#484a4c;height:35px !important;min-width:70px;margin:0 5px !important;padding:0 !important}
.contentCommon .x-btn-default-small-over,.x-window .x-btn-default-small-over{background:url('../../../../image/opc/bgBtnForm.png') 0 -40px repeat-x !important;border-color:#669302;height:35px !important;min-width:70px;margin:0 5px !important;padding:0 !important}
.contentCommon .x-btn-default-small-pressed,.x-window .x-btn-default-small-pressed{background:url('../../../../image/opc/bgBtnForm.png') 0 -80px repeat-x;border-color:#2a2a2a;height:35px !important;min-width:70px;margin:0 5px !important;padding:0 !important}
.contentCommon .x-btn-default-small .x-btn-inner,.x-window .x-btn-default-small .x-btn-inner{color:#fff}
.contentCommon .codeView .x-btn-default-small,.x-window .codeView .x-btn-default-small{width:35px !important;min-width:35px !important;margin:0 !important}
.contentCommon .btnCodeView,.x-window-body .btnCodeView{background:url('../../../../image/opc/contentCodeview.png') 20% 6px no-repeat;width:35px;height:32px !important}
.contentCommon .x-btn-over .btnCodeView,.x-window-body .x-btn-over .btnCodeView{background:url('../../../../image/opc/contentCodeview.png') 20% 6px no-repeat;height:32px !important}
.x-form-trigger{background:url('../../../../image/opc/iconCombo.png') no-repeat;width:22px;height:35px !important;position:relative;left:-5px}
.x-form-trigger-over,.x-form-trigger-wrap-focus .x-form-trigger{background-position:-22px 0}
.x-form-trigger-click{background-position:-44px 0}

.fontSizeB .x-field + .x-btn{margin-top:9px !important}
.x-boundlist-item{background:url('../../../../image/opc/arrowRightGray.gif') 4px 10px no-repeat;padding:4px 4px 4px 11px;color:#333;font-size:14px;border-bottom:1px dotted #ccc;}
.x-boundlist-item-over{background:url('../../../../image/opc/arrowRightBlue.gif') 4px 10px no-repeat;background-color:#fff;padding:4px 4px 4px 11px}
.x-boundlist-selected{background:url('../../../../image/opc/arrowRightBlue.gif') 4px 10px no-repeat;background-color:#dbeaff;padding:4px 4px 4px 11px}
.x-form-trigger-wrap .x-form-spinner-up,.x-form-trigger-wrap .x-form-spinner-down{background:url('../../../../image/opc/iconSpinner.png') no-repeat;width:22px !important}
.x-form-trigger-wrap .x-form-spinner-up{height:17px !important}
.x-form-trigger-wrap .x-form-spinner-down{height:18px !important;background-position:0 -17px}
.x-form-trigger-wrap .x-form-spinner-up-over{background-position:-22px 0}
.x-form-trigger-wrap .x-form-spinner-down-over{background-position:-22px -17px}
.x-form-trigger-wrap .x-form-spinner-up-click{background-position:-44px 0}
.x-form-trigger-wrap .x-form-spinner-down-click{background-position:-44px -17px}
.x-panel-header-text-default{background:url('../../../../image/arrowDownDefault.gif') -2px 9px no-repeat;padding:5px 0 0 10px;color:#006699;font-size:13px}
.btnArrowLeft,.btnArrowRight,.btnArrowUp,.btnArrowDown{min-width:40px !important}
.btnArrowLeft button,.btnArrowRight button,.btnArrowUp button,.btnArrowDown button{background:url('../../../../image/opc/iconArrow.png') no-repeat;}
.btnArrowLeft button{background-position:50% 4px}
.btnArrowRight button{background-position:50% -46px}
.btnArrowUp button{background-position:50% -93px}
.btnArrowDown button{background-position:50% -140px}
.x-form-item-label{font-size:16px;color:#333;line-height:29px}
.x-fieldset-header .x-fieldset-header-text{font-weight:bold;color:#007236;font-size:13px}
.x-fieldset{background-color:#f1f1f1}


/*intro style*/
.opcIntro{background:url('../../../../image/opc/bgIntro.png') 50% 130px no-repeat;padding-top:105px;text-align:center;}
.introSystemName{margin-bottom:200px;font-size:16px;color:#425691}
.introSystemName span{font-weight:bold;color:#111}
.introMenu a{background:url('../../../../image/opc/iconIntro.png') no-repeat;padding-top:60px;width:110px;height:80px;display:inline-block;text-transform:capitalize;font-size:13px;cursor:pointer}
.introMenu a.menu1{background-position:18px 0}
.introMenu a.menu2{background-position:18px -100px;border:1px solid #cfcfcf;border-width:0 1px}
.introMenu a.menu3{background-position:18px -200px}
.introMenu a:hover.menu1{background-position:-82px 0;color:#287997;}
.introMenu a:hover.menu2{background-position:-82px -100px;color:#287997;}
.introMenu a:hover.menu3{background-position:-82px -200px;color:#287997;}

/*toolbar style*/
.x-toolbar-default,.x-nlg .x-toolbar-default{background:none !important;border:none}

/*header style*/
.header .x-btn-default-small,.header .x-btn-default-toolbar-small-over{background:none !important;border:none;}
.header .x-toolbar-separator-horizontal{background:url('../../../../image/opc/bgHeaderSeparator.png') no-repeat;top:0 !important;border:none;width:2px;height:37px}
.header table{top:4px !important}
.header table table{top:0px !important}
.header .factoryName{margin-top:-5px !important;border:none !important}
.factoryName .x-btn-inner{margin-left:90px;font-size:20px;color:#fff}
.userName .x-btn-inner{font-size:12px;margin-top:3px;margin-top:0\9;color:#515151}
.searchBar{background:url('../../../../image/opc/bgSearchBar.png') no-repeat;height:27px;font-size:13px}
.searchBar input{background:none;border:none;color:#fff;font-size:14px;height:30px !important;line-height:1.3 !important}
.searchBar .x-btn-default-small button{margin-left:-3px;margin-left:0px\9;margin-top:2px}
.searchBar .btnCodeView{background:url('../../../../image/opc/btnCodeview.png') 0 2px no-repeat;}
:root .searchBar .btnCodeView{background:url('../../../../image/opc/btnCodeview.png') -2px 2px no-repeat;}
.searchBar .x-btn-over .btnCodeView{background:url('../../../../image/opc/btnCodeview.png') -27px 2px no-repeat;background-position:-25px 2px\9}
.searchBar .x-field-label-cell{padding:4px 0 0 7px}
.iconHeader button{background:url('../../../../image/opc/iconHeader.png') no-repeat;width:30px;height:37px}
.header .x-btn-over.iconHeader button{background-image:url('../../../../image/opc/iconHeader.png') !important}
.x-btn-over.iconHeader{background:url('../../../../image/opc/bgHeaderSeparator.png') repeat-x;}
.btnAgent button{background:url('../../../../image/iconAgent.png') no-repeat;width:16px;height:16px}
.btnServer button{background:url('../../../../image/iconServer.png') no-repeat;width:16px;height:16px}
.btnAlarm button{background:url('../../../../image/iconAlarm16.png') no-repeat;width:16px;height:16px}
.btnSettings button{background-position:-117px 4px;background-position:-117px 6px\9}
.btnLogout button{background-position:-157px 4px;background-position:-157px 6px\9}
.btnMenu button{background-position:-237px 4px;background-position:-237px 6px\9}
.btnAgent.off button{background-position:-20px 0}
.btnServer.off button{background-position:-20px 0}

.x-btn-over.btnSettings button{background-position:-116px -23px !important}
.x-btn-over.btnLogout button{background-position:-156px -23px !important}
.x-btn-over.btnMenu button{background-position:-236px -23px !important}
.searchBar .x-form-item-label{font-size:13px !important;color:#8e99a5}
.pageStatus{padding:0 25px 0 55px}
.pageStatus .x-btn-default-toolbar-small-over,.pageStatus .x-btn-default-toolbar-small{border:none !important;border-radius:0 !important}
.pageTitle{color:#12304c;line-height:1.5;}
.pageTitle .x-btn-inner{font-size:15px;font-weight:bold !important}
.iconUser{background:url('../../../../image/opc/iconUser16.png') no-repeat;}
.trayNotice{background:url('../../../../image/opc/bgAlarm.png') no-repeat;height:31px}
.trayNotice li{padding-left:20px;width:290px;height:30px;color:#333;white-space:nowrap;text-overflow:ellipsis;font-size:13px;line-height:30px}
.trayNotice li span{color:#333;padding-right:5px}
.trayNotice li:nth-child(even){padding-right:5px;color:#508e00;}
.trayNotice li:nth-child(odd){padding-right:5px;color:#006699;}
.trayNoticeCount{background:url('../../../../image/opc/bgAlarm.png') 100% 0 no-repeat;height:31px;margin-left:-1px !important;}
.trayNoticeCount button{background:url('../../../../image/opc/bgNoticeCountLeft.png') no-repeat;height:21px !important;padding:0 2px 0 6px;margin-top:3px;}
.trayNoticeCount button .x-btn-inner{background:url('../../../../image/opc/bgNoticeCount.png') 100% 0 no-repeat;padding-right:9px;;height:21px;font-size:12px;color:#fff;line-height:18px}
.statusProgress{background:url('../../../../image/iconProgress.gif') 0 50% no-repeat !important;padding-left:80px;color:#333}
.x-nlg .header .x-btn-default-small{background:none !important}

/*output message*/
.outputMsg{background:url('../../../../image/opc/bgOutputMsg.png') 0 -180px repeat-x;border-top:2px solid #dedede;padding:0 20px 0 25px;}
.outputMsg .x-panel-body{padding:10px 0 7px 0;font-size:22px;}
.outputMsg *{vertical-align:middle;color:#fff}
.outputMsg .msg{display:inline-block;margin:-5px 10px 0 2px;color:#000;}
.outputMsg.success{background-position:0 0;}
.outputMsg.fail{background-position:0 -90px}
.outputMsg .icon{background:url('../../../../image/opc/iconOutputMsg.png') -32px 0 no-repeat;width:16px;height:16px;display:inline-block;margin:-3px 0 0 0}
.outputMsg.success .icon{background-position:0 0}
.outputMsg.fail .icon{background-position:-16px 0}



/*favorite bar*/
.favorBar.x-toolbar-default,.favorBar{background:url('../../../../image/opc/bgFavorBar.png') repeat-y !important;width:50px}
.favorBar.x-toolbar-vertical{padding:0 !important}
.favorBar .x-btn-default-toolbar-small{padding:0;margin-top:-2px !important;border-radius:0;width:50px;height:45px;border:none;border-bottom:1px solid #72757d !important;}
.favorBar .x-btn-default-toolbar-small .x-btn-icon{background-position:50% -41px;width:50px;height:45px;}
.favorBar .x-btn-default-toolbar-small-over,.btnBarsetting.x-btn-default-small-over{background:url('../../../../image/opc/bgFavorBar.png') -50px 50% no-repeat !important;border-bottom:1px solid #474a55;}
.favorBar .x-btn-default-toolbar-small-pressed .x-btn-icon{background-position:50% -39px;}
.btnBarsetting{background:url('../../../../image/opc/bgFavorBar.png') repeat-y !important;left:0 !important;padding:0;border-radius:0;width:50px;height:45px;border:none;}
.btnBarsetting button{background:url('../../../../image/opc/iconMore.png') 2px -70px no-repeat;width:50px;height:45px;}
.btnBarsetting.x-btn .x-btn-inner{font-size:7px;color:#eee;line-height:60px !important}
.btnBarsetting.x-btn-default-small-pressed button{background-position:2px -68px}
.btnAddFavorite{background:none;margin-top:-1px !important}
.btnAddFavorite.x-btn-default-toolbar-small-pressed button{background-position:0 1px}
.btnAddFavorite button{background:url('../../../../image/opc/iconAddFavor.png') no-repeat;width:16px;height:17px}
.btnAddFavorite.off button{background-position:0 -30px;width:16px;height:17px}
.btnAddFavorite.off.x-btn-default-toolbar-small-pressed button{background-position:0 -29px}
.btnAddFavorite .x-btn-inner{width:0;height:0}


/*grid style*/
.x-grid-row-over .x-grid-cell{background-color:#d3e4fe}
.x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div,
.x-grid-row-focused .x-grid-cell, .x-grid-row-focused .x-grid-rowwrap-div{background-color:#bfd7fd !important;border-color:#8ab0e2;border-style:solid}

/*floating panel*/
.x-boundlist-floating{
	background:url('../../../../image/bgFloatingPanel.gif') repeat-x;background-color:#e6e6e6;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	border:1px solid #999
}

/* navygrid style*/
.navyGrid .x-grid-header-ct{
	background:url('../../../../image/bgNavyGridTh.png') repeat-x;color:#eee !important;border-width:0px !important;border-top:2px solid #3fbffe !important;margin:0 !important
}
.navyGrid .x-column-header{background:url('../../../../image/bgNavyGridTh.png') repeat-x;padding:0;border-bottom:1px solid #3b4876;border-right:1px solid #6F8BBA;text-align:center}
.navyGrid .x-column-header-inner{padding:0}
.navyGrid .x-column-header-over{background:url('../image/bgNavyGridThOver.png') repeat-x;color:#fff !important;}
.navyGrid .x-column-header:last-child{border-right:0}
.navyGrid .x-column-header-text{display:inline-block;padding:6px 0 4px 0;color:#fff;text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);font-size:14px}
.navyGrid .x-grid-body{border:2px solid #6F8BBA !important;border-top:none !important;}
.navyGrid .x-column-header-trigger{background:url('../../../../image/grid3-hd-btn.png') 0 50% no-repeat}
.navyGrid .x-column-header-sort-asc .x-column-header-text{background-image:url('../../../../image/sort_asc_blue.png')}
.navyGrid .x-column-header-sort-desc .x-column-header-text{background-image:url('../../../../image/sort_desc_blue.png')}
.navyGrid .x-grid-row-over .x-grid-cell{background-color:#f7f8d5 !important;border-top:1px solid #ecd782;border-bottom:1px solid #ecd782;}
.navyGrid .x-grid-row-over .x-grid-cell *{background-color:#f7f8d5 !important;}
.navyGrid .x-grid-row-selected .x-grid-cell,.navyGrid .x-grid-row-selected .x-grid-rowwrap-div,
.navyGrid .x-grid-row-focused .x-grid-cell,.navyGrid .x-grid-row-focused .x-grid-rowwrap-div
{background-color:#d5e6ff !important;border-top:1px solid #96b2dc;border-bottom:1px solid #96b2dc;}
.navyGrid .x-grid-row-selected .x-grid-cell *,.navyGrid .x-grid-row-selected .x-grid-rowwrap-div *,
.navyGrid .x-grid-row-focused .x-grid-cell *,.navyGrid .x-grid-row-focused .x-grid-rowwrap-div *
{background-color:#d5e6ff !important;}
.navyGrid .x-panel-default{border-color:#6F8BBA}
.navyGrid.x-grid-locked .x-grid-body .x-grid-body{border:0 !important}
.x-grid-locked .x-grid-inner-locked .x-grid-table{margin-bottom:17px}
.navyGrid .x-grid-cell-inner{padding:6px 0 8px 7px}
.navyGrid .x-fit-item{margin-left:-2px;margin-right:-2px}
.navyGrid .x-grid-row-selected .x-grid-cell-special,.navyGrid .x-grid-row-over .x-grid-cell-special{background-image:none}

.contentCommon .navyGrid .x-toolbar-footer-docked-bottom{background:url('../../../../image/opc/bgGridToolbarBtn.png') repeat-x;margin:-2px 0 10px 0;padding:0;border:2px solid #6F8BBA !important;border-width:0 2px 2px 2px !important}
.contentCommon .navyGrid .x-btn-default-small{height:25px !important;}

.btnCodeView{background:url('../image/iconCodeView.gif') -4px 2px no-repeat;height:21px !important}
.btnCodeViewBorder{background:url('../image/btnCodeViewBorder.png') 50% 50% no-repeat;width:20px;height:20px}
.x-over .btnCodeView{background:url('../image/iconCodeView.gif') -29px 2px no-repeat;height:21px !important}
.x-pressed .btnCodeView{background:url('../image/iconCodeView.gif') -53px 2px no-repeat;height:21px !important}


/*setting style*/
.keepChkbox{margin-left:20px}
.keepChkbox label{color:#666;font-size:13px}
.marginL300{margin-left:-300px}

/*menu setting style*/
.menuSetting .tx{background:url('../../../../image/opc/bgMenuSetting.png') no-repeat;width:130px;margin:0 25px 20px 0;padding:17px 15px 0 0;float:left;text-align:center;font-weight:bold;color:#585858}
.menuSetting .select{background-position:0 -100px !important;color:#cc3300}
.menuSetting .remove{background-position:0 -193px !important;color:#999;padding-bottom:20px}
.menuSetting .refusal{background-position:0 -300px !important;color:#333;}
.menuSetting span{display:block;margin-left:35px;}
.menuSetting span.desc{margin:10px 0 0 0;padding:0 0 0 5px;text-align:left;font-size:10px;color:#666;font-weight:normal}
.menuSetting .remove .desc{display:none}


/* msg */
.msg .x-box-mc{font-size:14px;}
#msg-div{position:absolute;right:2%;bottom:30px;width:300px;z-index:200;}
#msg-div .msg{border-radius:5px;-moz-border-radius:5px;background:#fff;border:2px solid #ccc;margin-top:2px;padding:10px 15px;color:#555;}
#msg-div .msg h3{margin: 0 0 8px;font-weight:bold;font-size:15px;}
#msg-div .msg p{margin:0;}


/* lot info style */
.lotInfo{margin-left:15px;padding:0 0 5px 7px;border-left:1px solid #c0c0c0}
.lotInfo .title{position:relative;left:-8px;border-left:1px solid #5F91C4;padding:0 0 2px 10px;font-size:18px;font-weight:bold;color:#333}
.lotInfo .title span{color:#4178b1}
.lotInfo .itemSet{border-bottom:1px dotted #d4d4d4;padding:9px 0 5px 2px;font-size:13px;color:#111}
.lotInfo .itemSet span{float:left;width:100px;color:#666}
.lotInfo .itemSet b{display:block;margin-top:2px;color:#003366;font-size:12px}


/* information table style */
.infoTable1Column,.infoTable2Column,.infoTable3Column{margin-top:5px}
.infoTable1Column .x-panel-header-text-default,.infoTable2Column .x-panel-header-text-default,.infoTable3Column .x-panel-header-text-default{background:url('../../../../image/opc/iconInfo16.png') 0 4px no-repeat;padding:5px 0 0 18px;color:#585858}
.infoTable1Column .x-panel-header-horizontal,.infoTable2Column .x-panel-header-horizontal,.infoTable3Column .x-panel-header-horizontal{padding:3px 5px 4px 0}
.infoTable1Column .x-panel-body-default,.infoTable2Column .x-panel-body-default,.infoTable3Column .x-panel-body-default{border:1px solid #dbdbdb !important;background:url('../../../../image/opc/bgInfoPanel.png') 0 -1px repeat-x;padding-top:3px}
.infoTable1Column .x-form-item-label,.infoTable2Column .x-form-item-label,.infoTable3Column .x-form-item-label{font-size:13px;color:#585858;padding-left:19px}
.infoTable1Column .x-form-text,.infoTable2Column .x-form-text,.infoTable3Column .x-form-text{height:30px;border:none;background:transparent;font-weight:bold;color:#333;font-size:13px;}

.infoTable1Column .x-form-item{background:url('../../../../image/opc/bgInfoItem.png') 0 -1px no-repeat;width:100%;}

.infoTable2Column .x-form-item{background:url('../../../../image/opc/bgInfoItem.png') 0 -1px no-repeat;width:50%;border-right:1px solid #dbdbdb}
.infoTable2Column .x-form-item:nth-child(2n){border-right:none}

.infoTable3Column .x-form-item{background:url('../../../../image/opc/bgInfoItem.png') 0 -1px no-repeat;width:33.3%;border-right:1px solid #dbdbdb}
.infoTable3Column .x-form-item:nth-child(3n){border-right:none}

.infoTable1Column .x-item-disabled .x-form-item-label,.infoTable1Column .x-item-disabled .x-form-field,.infoTable1Column .x-item-disabled .x-form-cb-label,.infoTable1Column .x-item-disabled .x-form-trigger,
.infoTable2Column .x-item-disabled .x-form-item-label,.infoTable2Column .x-item-disabled .x-form-field,.infoTable2Column .x-item-disabled .x-form-cb-label,.infoTable2Column .x-item-disabled .x-form-trigger,
.infoTable3Column .x-item-disabled .x-form-item-label,.infoTable3Column .x-item-disabled .x-form-field,.infoTable3Column .x-item-disabled .x-form-cb-label,.infoTable3Column .x-item-disabled .x-form-trigger,
{opacity:1}


/*layout style*/
.x-viewport, .x-viewport body{background:url('../../../../image/opc/bgTop.png') repeat-x #f7f7f7;overflow-x:auto;}
.layoutWrap{background:url('../../../../image/opc/bgFactory.png') 47px 2px no-repeat;}
.layoutWrap .header{margin:0 15px 0 25px}
.contentCommon{border:0 !important}
.x-panel-body-default{background-color:transparent;border:0 !important}
.x-panel-header-default,.x-nlg .x-panel-header-default{background:none;background-color:transparent;border:0;box-shadow:none;}
.fontSizeB .x-form-item *{font-size:24px !important}
.contentCommon .x-toolbar-footer-docked-bottom{padding:7px 10px 5px 0 !important;background-color:#e9e9e9;border-top:1px solid #c1c1c1 !important}
.bodyPadding{padding:0 !important}


/*alarm style*/
.alarmContainer{background:#fff;border:1px solid #ccc;}
.alarmHeader{background:url('../../../../image/bgGrayGradient.gif') 0 100% repeat-x;height:50px}
.alarmHeader .subject{background:url('../../../../image/opc/alarmTag.png') 0 3px no-repeat;padding:3px 0 0 95px;height:45px;font-size:20px}
.logHeader .subject{font-size:18px}
.alarmHeader .alarmLevel.levelE{background-position:0px -96px}
.alarmHeader .alarmLevel.levelW{background-position:0px -46px}
.alarmHeader .subject span{float:right;margin:15px 10px 0 0;font-size:11px;color:#666}
.alarmHeader .alarmInfo{margin-top:-17px;margin-left:95px}
.alarmHeader .alarmInfo span{color:#666;margin:0 20px 0 0;font-size:12px;}
.alarmContent{padding:15px 10px 10px 10px;font-size:14px;line-height:1.5}
.alarmTable{border-top:1px dotted #ccc;margin:0 10px 10px 10px;}
.alarmTable table{width:100%}
.alarmTable td{border-bottom:1px dotted #ccc;padding:3px 10px}
.alarmTable td.label{background:#f1f1f1;text-align:center;width:10%}
.logTable{border-top:1px solid #ccc;margin:0 10px 10px 10px;}
.logTable table{width:100%}
.logTable td{border-bottom:1px solid #ccc;padding:3px 10px}
.logTable td.label{background:#f1f1f1;text-align:center;width:10%}
.logTable table table{margin:5px 0;background-color:#e4e4e4;border:1px solid #bbb}
.logTable table table td{border-right:1px dotted #ccc}
.logTable table table td:last-child{border-right:0}
.logTable td.label{background:#f1f1f1;text-align:center;width:10%}
.logTable table table td.label{color:#fff;background-color:#737373}



/*window*/
.x-window-default,.x-window-header-default-top{border:none}
.x-message-box .x-window-body{background-color:#fff}
.x-window-body-default{border:2px solid #4a70ab !important;border-width:0 2px !important;z-index:10;}
.x-tool-refresh, .x-tool-over .x-tool-refresh,.x-tool img.x-tool-refresh{background:url('../../../../image/opc/modalIcons.gif') 0 0px no-repeat !important;}
.x-tool-close, .x-tool-over .x-tool-close,.x-tool img.x-tool-close{background:url('../../../../image/opc/modalIcons.gif') -15px 0px no-repeat !important;}
.windowSearchField{background:url('../../../../image/opc/bgWindowSearchField.gif') repeat-x;padding:14px 3px 0 3px;margin-top:-4px !important;height:43px !important;border-bottom:2px solid #4a70ab !important}
.x-window .x-toolbar-default{background:url('../../../../image/opc/bgDockedTop.png') 0 -1px repeat-x !important;top:-1px;height:21px !important}
.x-window .x-btn-default-toolbar-small .x-btn-inner{font-weight:bold;color:#5371A7;line-height:0.9;font-size:13px;padding:0}
.x-window .x-grid-header-ct{margin-top:-5px}
.x-window .x-column-header-inner{line-height:1.6;font-size:13px}
.x-window .x-form-text{font-size:14px}
.x-column-header-over{background:url('../../../../image/opc/bgWindowSearchField.gif') -100px -1px repeat-x;}
.x-window .x-btn-default-toolbar-small-over{background:url('../../../../image/opc/bgWindowSearchField.gif') -100px 100% repeat-x;border:1px solid transparent}

.x-window-default{background:url('../../../../image/bgDockHeader.png') 100% -8px repeat-x;padding:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.x-window-header{background:url('../../../../image/iconWindowTitle.png') 5px 0 no-repeat;top:-7px !important;height:41px;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;margin-left:5px\9;margin-right:5px\9;z-index:100}
.x-window-header-body{margin-top:4px;}
.x-window-header-text-default{color:#efefef;line-height:1.5;font-size:15px;padding-left:45px;padding-top:10px}
.x-window{overflow:visible}
.x-window .x-window-body + .x-toolbar-footer-docked-bottom{background-color:#f0f0f0;border:2px solid #4a70ab !important;border-top:1px solid #cfcfcf !important;padding:3px 0;height:45px}
.x-window .x-window-body .x-toolbar-footer-docked-bottom,.windowBBorder{border-bottom:2px solid #4a70ab !important;}
.x-window .x-toolbar-footer{margin-top:0}
.x-message-box .x-window-body{background-color:#fff}

.menuPop{background:url('../../../../image/opc/bgMenuGradient.png') repeat-x #edf0f4;border-top:1px solid #cfcfcf}
.menuPop .menuItem{background:url('../../../../image/opc/bg2line.png') 0 100% repeat-x;height:40px;padding-top:9px;font-size:16px;color:#333;overflow:hidden}
.menuPop .menuItem *{vertical-align:middle}
.menuPop .menuItem span{width:53px;height:32px;display:inline-block;margin-left:5px}
.menuPop .menuItem:hover{background:url('../../../../image/opc/bgMenuPopOver.png') -2px 50% no-repeat;color:#3e6196}
.menuPop .menuGroup{background:url('../../../../image/opc/bgDockedTop.png') repeat-x;height:22px;font-size:14px;color:#4a6692;text-align:center;line-height:21px}
.favorTooltip{background:url('../../../../image/opc/bgTooltip.png') repeat-x;min-width:200px;}
.favorTooltip *{color:#333;font-size:18px}
.x-tip{padding:2px 6px;border:1px solid #97b3ce;}


/*ie8 style*/
.x-ie8 .favorBar .x-btn table,.x-ie8 .favorBar .x-btn em{width:100%}
.x-ie8 .factoryName{margin:0 0 0 110px !important;height:30px;left:0 !important}
.x-ie8 .factoryName .x-btn-inner{margin:0;font-weight:bold}
.x-btn-ml,.x-btn-mr{display:none;width:0}
.x-btn-tl,.x-btn-tc,.x-btn-tr,.x-btn-bl,.x-btn-bc,.x-btn-br{display:none;height:0;}
.x-btn-default-toolbar-small-over .x-frame-mc,.x-btn-default-small-mc{background:none !important}
.x-ie8 .favorBar button{height:45px}
.x-ie8 .favorBar .x-btn-icon{top:-10px}
.x-ie8 .searchBar .x-btn{margin-left:-5px !important}
.x-ie8 .searchBar .x-btn button{width:16px;height:16px !important;display:block;margin-top:4px}
.x-ie8 .searchBar .x-btn-default-small-over{width:16px !important;height:16px !important;display:block}
#sf_sound{display:none;width:0;height:0}
.x-form-text{font-size:20px;line-height:30px !important}
.x-form-focus{border:1px solid #00aeef}
.x-ie8 .pageStatus button{height:16px !important}
.x-ie8 .contentCommon .x-btn-default-small{border:1px solid #484a4c !important}
.x-ie8 .contentCommon .x-btn-default-small table,.x-ie8 .contentCommon .x-btn-default-small em,.x-ie8 .contentCommon .x-btn-default-small button,.x-ie8 .contentCommon .x-btn-default-small .x-btn-inner{width:100% !important}
.x-ie8 .contentCommon .x-btn-default-small-noicon .x-btn-inner{line-height:20px}
.x-ie8 .x-layer{top:30%;left:35%}
.x-ie8 .btnAgent{width:30px;padding-left:7px !important}
.x-ie8 .x-window-default-ml,.x-ie8 .x-window-default-mr,.x-ie8 .x-window-default-tl,.x-ie8 .x-window-default-bl,.x-ie8 .x-window-default-br,.x-ie8 .x-window-default-bc,
.x-ie8 .x-window-header-default-top-tl,.x-ie8 .x-window-header-default-top-tr,.x-ie8 .x-window-header-default-top-tc,.x-ie8 .x-window-header-default-top-ml,.x-ie8 .x-window-header-default-top-mr{background-image:none !important;background-color:#5672a1}
.x-ie8 .searchBar .x-form-text{line-height:25px !important}
.x-ie8 .windowSearchField .x-form-text{height:25px !important;line-height:20px !important}
.x-ie8 .contentCommon .btnCodeView{top:-5px;background-position:30% 50%;line-height:20px !important}
.x-ie8 .x-window .x-btn-default-toolbar-small button{height:18px}
.x-ie8 .header .codeView .x-btn table{width:16px;height:18px} 