<?xml version="1.0" encoding="utf-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sample-web</display-name>
	<!--foundation-configuration-START-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>production</param-value>
	</context-param>
    
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<!-- Shiro filter-->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
       	    <param-name>targetFilterLifecycle</param-name>
       	    <param-value>true</param-value>
    	</init-param>
	</filter>
	
	<!-- log4j filter 后台有错误，如果日志调为debug-->
	<filter>
		<filter-name>slf4jFilter</filter-name>
		<filter-class>com.ted.xplatform.filter.Slf4jFilter</filter-class>
	</filter>
   
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>slf4jFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/spring/applicationContext-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cometd</servlet-name>
		<servlet-class>org.cometd.annotation.AnnotationCometdServlet</servlet-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>0</param-value>
		</init-param>
		<!-- 
		<init-param>
			<param-name>transports</param-name>
			<param-value>org.cometd.websocket.server.WebSocketTransport</param-value>
		</init-param>
		<init-param>
			<param-name>allowdTransports</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>jsonContext</param-name>
			<param-value>org.cometd.server.JettyJSONContextServer</param-value>
		</init-param>
		<init-param>
			<param-name>timeout</param-name>
			<param-value>30000</param-value>
		</init-param>
		<init-param>
			<param-name>ws.timeout</param-name>
			<param-value>15000</param-value>
		</init-param>
		<init-param>
			<param-name>interval</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>ws.interval</param-name>
			<param-value>2500</param-value>
		</init-param>
		<init-param>
			<param-name>maxInterval</param-name>
			<param-value>10000</param-value>
		</init-param>
		<init-param>
			<param-name>ws.maxInterval</param-name>
			<param-value>10000</param-value>
		</init-param>
		<init-param>
			<param-name>maxLazyTimeout</param-name>
			<param-value>5000</param-value>
		</init-param>
		<init-param>
			<param-name>metaConnectDeliverOnly</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>jsonDebug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>maxSessionsPerBrowser</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>allowMultiSessionsNoBrowser</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>multiSessionInterval</param-name>
			<param-value>2000</param-value>
		</init-param-->
		<init-param>
			<param-name>services</param-name>
			<param-value>
            	com.ted.xplatform.service.CommunicatorService
            </param-value>
		</init-param> >
		<load-on-startup>2</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>cometd</servlet-name>
		<url-pattern>/cometd/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
    
    <!--be carefule : to config timeout ,pls config line 29 up (sessiontimeout)-->
    <session-config>
       <session-timeout>120</session-timeout>
    </session-config>

    <!--error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/common/pathd?loc=error/uncaughtException</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/common/pathd?loc=error/resourceNotFound</location>
    </error-page-->
    
</web-app>
