<?xml version="1.0" encoding="utf-8" ?>
<root>
	<!--#runMode is prod,dev,test-->
	<runMode>dev</runMode>
	
	<!--#db config : oracle, mysql ,sqlserver-->
	<dbType>oracle</dbType>

	<!--#附件的存放根目录.附件的存放方案是：根目录的常量在这里定义，中间的目录作为一个变量传进service，最后的随机数UUID生成。数据库中并不记录root，只记录相对路径。-->
	<!--如果是Disk则就D:/, if ftp: /sandbox-->
	<attachFileDir>D:/temp2/web7attachfiles/</attachFileDir>

	<!--#超级用户(系统管理员)的角色的code-->
	<adminrolecode>adminrole</adminrolecode>
	
	<!--默认密码-->
	<defaultPassword>123456</defaultPassword>
	
	<!--Extjs的等待信息-->
	<waitMsg><![CDATA[请稍等...]]></waitMsg>
	
	<!--js的pretty print-->
	<prettyPrint>true</prettyPrint>
	
	<!--ExtModelController.java scan，注意分隔符|-->
	<packageScan>com.ted.xplatform.pojo|com.ted.xplatform.vo</packageScan>
	
	<dozerBeanMappings>dozerBeanMapping.xml</dozerBeanMappings>
	<!--todo:可以存放系统的名称，欢迎信息等-->
</root>
	