<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss} %c %n%m%n" />
        </layout>
    </appender>

    <appender name="xplatform-log" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/xplatform.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="20000000"/>
        <param name="MaxBackupIndex" value="20"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyMMdd-HH:mm:ss,SSS} [%p][%t][%c]  %m%n"/>
        </layout>
    </appender>
    
    <!--type column:1,log4j;2,business;3,exception. in deubg mode, concurrent exception occured-->
    <!--appender name="db-log" class="com.ted.common.log4j.JDBCExtAppender">
        <param name="BufferSize" value="10"/>
        <param name="sql" value="INSERT INTO log4jlog(userId, userName,type, clazz, method, createTime, loglevel, msg) VALUES ('%X{userId}','%X{userName}',1,'%C','%M','%d{yyyy-MM-dd HH:mm:ss}','%p','%m')" />
    </appender-->

    <logger name="com.ted" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="xplatform-log"/>
        <!--appender-ref ref="db-log"/-->
    </logger>
    
    <logger name="net.sf.log4jdbc" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
        <appender-ref ref="xplatform-log"/>
    </logger>
    
    <logger name="jdbc.resultset" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="xplatform-log"/>
    </logger>
    
    <logger name="jdbc.audit" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="xplatform-log"/>
    </logger>
    
    <logger name="jdbc.resultsettable" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="xplatform-log"/>
    </logger>
    
    <logger name="org.springframework.web" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>
    
     <logger name="com.ckfinder" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>
    
    <logger name="org.apache.shiro" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="xplatform-log"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="xplatform-log"/>
        <!--appender-ref ref="db-log"/-->
    </root>
    
</log4j:configuration>
